{%  extends "core/base.html" %}

{% block title %}Rooms | {% endblock %}

{% block content %}
<div class="p-10 lg:p-20 text-center">
    <h1 class="text-2xl lg:text-4xl text-white">Rooms</h1>
</div>

<div class="w-full flex flex-wrap items-center">
    {% for room in rooms %}
        <div class="w-full lg:w-1/4 px-3 mb-6">
            <div class="p-4 bg-white shadow-lg rounded-xl text-center transition-transform transform hover:scale-100">
                <h2 class="mb-5 text-2xl font-semibold">{{ room.name }}</h2>

                <a href="{% url 'room' room.slug %}" class="px-5 py-3 block rounded-xl text-white bg-gradient-to-r from-teal-500 to-teal-700 hover:from-teal-700 hover:to-teal-800 transition duration-300 ease-in-out transform hover:scale-105" aria-label="Join {{ room.name }}">Join</a>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}